@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Lists a customers who rented out a movie by title.
*@

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary"})

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@movie.Name, "Edit", "Movies", new { Id = movie.Id}, null)
                </td>
            </tr>
        }*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies/GetMovies",
                    dataSrc: ""
                }
                , columns: [
                    {
                        data: "Name",
                        render: function (data, type, movie) {
                            return "<a href='edit/" + movie.Id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genreType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });


        $("#movies").on("click", ".js-delete", function () {
            var linkButton = $(this);

            bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/movies/DeleteMovie/" + linkButton.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(linkButton.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>
}