@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Birthdate: @Model.BirthDate</li>
    }
</ul>