@model Vidly.Models.Customer
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table>
    @foreach (var customer in Model.Customers)
    {
        <tr>@customer.Name</tr>
    }

</table>